USE [QuanLyGiaoVu]
GO
/****** Object:  Table [dbo].[DANGKY]    Script Date: 02/26/2018 4:07:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DANGKY](
	[masv] [char](5) NOT NULL,
	[namhoc] [char](9) NOT NULL,
	[hocky] [int] NOT NULL,
	[mamh] [varchar](4) NOT NULL,
 CONSTRAINT [PK_DANGKY] PRIMARY KEY CLUSTERED 
(
	[masv] ASC,
	[namhoc] ASC,
	[hocky] ASC,
	[mamh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GIANGDAY]    Script Date: 02/26/2018 4:07:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GIANGDAY](
	[namhoc] [char](9) NOT NULL,
	[hocky] [int] NOT NULL,
	[mamh] [varchar](4) NOT NULL,
	[phutrach] [char](2) NOT NULL,
	[magv] [char](4) NULL,
 CONSTRAINT [PK_GIANGDAY] PRIMARY KEY CLUSTERED 
(
	[namhoc] ASC,
	[hocky] ASC,
	[mamh] ASC,
	[phutrach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GIANGVIEN]    Script Date: 02/26/2018 4:07:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GIANGVIEN](
	[magv] [char](4) NOT NULL,
	[hogv] [nvarchar](20) NULL,
	[tengv] [nvarchar](10) NULL,
	[hocvi] [char](2) NULL,
	[hocham] [varchar](3) NULL,
	[makhoa] [varchar](4) NULL,
 CONSTRAINT [PK_GIANGVIEN] PRIMARY KEY CLUSTERED 
(
	[magv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KETQUA]    Script Date: 02/26/2018 4:07:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KETQUA](
	[namhoc] [char](9) NOT NULL,
	[hocky] [int] NOT NULL,
	[masv] [char](5) NOT NULL,
	[mamh] [varchar](4) NOT NULL,
	[lanthi] [smallint] NOT NULL,
	[diemLT] [real] NULL,
	[diemTH] [real] NULL,
 CONSTRAINT [PK_KETQUA] PRIMARY KEY CLUSTERED 
(
	[namhoc] ASC,
	[hocky] ASC,
	[masv] ASC,
	[mamh] ASC,
	[lanthi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 02/26/2018 4:07:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHOA](
	[makhoa] [varchar](4) NOT NULL,
	[tenkhoa] [nvarchar](30) NULL,
	[tongsocb] [int] NULL,
 CONSTRAINT [PK_KHOA] PRIMARY KEY CLUSTERED 
(
	[makhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 02/26/2018 4:07:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MONHOC](
	[mamh] [varchar](4) NOT NULL,
	[tenmh] [nvarchar](50) NULL,
	[sotinchi] [int] NULL,
	[sotietLT] [int] NULL,
	[sotietTH] [int] NULL,
	[makhoa] [varchar](4) NULL,
 CONSTRAINT [PK_MONHOC] PRIMARY KEY CLUSTERED 
(
	[mamh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[QLYKHOA]    Script Date: 02/26/2018 4:07:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QLYKHOA](
	[makhoa] [varchar](4) NOT NULL,
	[chucvu] [char](2) NOT NULL,
	[tungay] [date] NOT NULL,
	[magv] [char](4) NULL,
	[denngay] [date] NULL,
 CONSTRAINT [PK_QLYKHOA] PRIMARY KEY CLUSTERED 
(
	[makhoa] ASC,
	[chucvu] ASC,
	[tungay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 02/26/2018 4:07:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[masv] [char](5) NOT NULL,
	[hosv] [nvarchar](20) NULL,
	[tensv] [nvarchar](10) NULL,
	[nu] [bit] NULL,
	[ngaysinh] [date] NULL,
	[matinhtp] [char](2) NULL,
	[tinhtranggd] [nvarchar](2) NULL,
	[makhoa] [varchar](4) NULL,
	[nhaphoc] [char](9) NULL,
	[hocbong] [real] NULL,
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[masv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THANNHAN]    Script Date: 02/26/2018 4:07:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THANNHAN](
	[magv] [char](4) NOT NULL,
	[hotentn] [char](50) NOT NULL,
	[ngaysinhtn] [date] NULL,
	[moiquanhe] [nvarchar](20) NULL,
 CONSTRAINT [PK_THANNHAN] PRIMARY KEY CLUSTERED 
(
	[magv] ASC,
	[hotentn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THI]    Script Date: 02/26/2018 4:07:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THI](
	[namhoc] [char](9) NOT NULL,
	[hocky] [int] NOT NULL,
	[mamh] [varchar](4) NOT NULL,
	[giamthi] [char](4) NOT NULL,
	[ngaythi] [date] NULL,
	[giothi] [time](7) NULL,
	[phgthi] [varchar](10) NULL,
 CONSTRAINT [PK_THI] PRIMARY KEY CLUSTERED 
(
	[namhoc] ASC,
	[hocky] ASC,
	[mamh] ASC,
	[giamthi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[DANGKY]  WITH CHECK ADD  CONSTRAINT [FK_DANGKY_MONHOC] FOREIGN KEY([mamh])
REFERENCES [dbo].[MONHOC] ([mamh])
GO
ALTER TABLE [dbo].[DANGKY] CHECK CONSTRAINT [FK_DANGKY_MONHOC]
GO
ALTER TABLE [dbo].[DANGKY]  WITH CHECK ADD  CONSTRAINT [FK_DANGKY_SINHVIEN] FOREIGN KEY([masv])
REFERENCES [dbo].[SINHVIEN] ([masv])
GO
ALTER TABLE [dbo].[DANGKY] CHECK CONSTRAINT [FK_DANGKY_SINHVIEN]
GO
ALTER TABLE [dbo].[GIANGDAY]  WITH CHECK ADD  CONSTRAINT [FK_GIANGDAY_GIANGVIEN] FOREIGN KEY([magv])
REFERENCES [dbo].[GIANGVIEN] ([magv])
GO
ALTER TABLE [dbo].[GIANGDAY] CHECK CONSTRAINT [FK_GIANGDAY_GIANGVIEN]
GO
ALTER TABLE [dbo].[GIANGDAY]  WITH CHECK ADD  CONSTRAINT [FK_GIANGDAY_MONHOC] FOREIGN KEY([mamh])
REFERENCES [dbo].[MONHOC] ([mamh])
GO
ALTER TABLE [dbo].[GIANGDAY] CHECK CONSTRAINT [FK_GIANGDAY_MONHOC]
GO
ALTER TABLE [dbo].[GIANGVIEN]  WITH CHECK ADD  CONSTRAINT [FK_GIANGVIEN_KHOA] FOREIGN KEY([makhoa])
REFERENCES [dbo].[KHOA] ([makhoa])
GO
ALTER TABLE [dbo].[GIANGVIEN] CHECK CONSTRAINT [FK_GIANGVIEN_KHOA]
GO
ALTER TABLE [dbo].[KETQUA]  WITH CHECK ADD  CONSTRAINT [FK_KETQUA_MONHOC] FOREIGN KEY([mamh])
REFERENCES [dbo].[MONHOC] ([mamh])
GO
ALTER TABLE [dbo].[KETQUA] CHECK CONSTRAINT [FK_KETQUA_MONHOC]
GO
ALTER TABLE [dbo].[KETQUA]  WITH CHECK ADD  CONSTRAINT [FK_KETQUA_SINHVIEN] FOREIGN KEY([masv])
REFERENCES [dbo].[SINHVIEN] ([masv])
GO
ALTER TABLE [dbo].[KETQUA] CHECK CONSTRAINT [FK_KETQUA_SINHVIEN]
GO
ALTER TABLE [dbo].[MONHOC]  WITH CHECK ADD  CONSTRAINT [FK_MONHOC_KHOA] FOREIGN KEY([makhoa])
REFERENCES [dbo].[KHOA] ([makhoa])
GO
ALTER TABLE [dbo].[MONHOC] CHECK CONSTRAINT [FK_MONHOC_KHOA]
GO
ALTER TABLE [dbo].[QLYKHOA]  WITH CHECK ADD  CONSTRAINT [FK_QLYKHOA_GIANGVIEN] FOREIGN KEY([magv])
REFERENCES [dbo].[GIANGVIEN] ([magv])
GO
ALTER TABLE [dbo].[QLYKHOA] CHECK CONSTRAINT [FK_QLYKHOA_GIANGVIEN]
GO
ALTER TABLE [dbo].[QLYKHOA]  WITH CHECK ADD  CONSTRAINT [FK_QLYKHOA_KHOA] FOREIGN KEY([makhoa])
REFERENCES [dbo].[KHOA] ([makhoa])
GO
ALTER TABLE [dbo].[QLYKHOA] CHECK CONSTRAINT [FK_QLYKHOA_KHOA]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_KHOA] FOREIGN KEY([makhoa])
REFERENCES [dbo].[KHOA] ([makhoa])
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_KHOA]
GO
ALTER TABLE [dbo].[THANNHAN]  WITH CHECK ADD  CONSTRAINT [FK_THANNHAN_GIANGVIEN] FOREIGN KEY([magv])
REFERENCES [dbo].[GIANGVIEN] ([magv])
GO
ALTER TABLE [dbo].[THANNHAN] CHECK CONSTRAINT [FK_THANNHAN_GIANGVIEN]
GO
ALTER TABLE [dbo].[THI]  WITH CHECK ADD  CONSTRAINT [FK_THI_MONHOC] FOREIGN KEY([mamh])
REFERENCES [dbo].[MONHOC] ([mamh])
GO
ALTER TABLE [dbo].[THI] CHECK CONSTRAINT [FK_THI_MONHOC]
GO
